// sontact style ehar


.contact-section .contact-info .list-info li {
    span{
        &.info-value{
            color: #eeeeee !important;
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;
        }
    }
}

.contact-form{
    padding: 60px;
    background: #191919;
    box-shadow: 0px 4px 33px #121212;
    margin-top: 60px;
    .content-title{
        font-weight: 500;
        font-size: 36px;
        line-height: 52px;
        margin-top: 0;
    }
    input{
        background: rgba(255, 255, 255, 0.01);
        border: 1px solid rgba(255, 255, 255, 0.05) !important;
        height: 60px !important;
        padding: 0 15px  !important;
        &:focus{
            border: 1px solid #dc3545 !important;
        }
    }
    textarea{
        background: rgba(255, 255, 255, 0.01);
        border: 1px solid rgba(255, 255, 255, 0.05) !important;
        padding: 15px 15px  !important;
        &:focus{
            border: 1px solid #dc3545 !important;
        }
    }
    .rts-btn{
        border: none !important;
    }
}


// contact modal style hear


.contact-modal{
    label{
        color: #d3d3d3;
    }
    .name-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>div{
            width: 48%;
        }
    }
}

.modal{
    &.success-message{
        height: max-content;
        background: rgb(15, 15, 15);
        .modal-dialog {
            padding: 10px 30px;
            background: green;
            color: #fff;
            .modal-header{
                background: green;
            }
        }
    }
    .modal-header{
        border: none;
    }
}


.modal-backdrop.show {
    opacity: 1;
    background-color: #0f0f0f;
}


.form-control {
    border: 1px solid #4b4b4b70 !important;
}









// pre oader style hear

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #DC3545;
    border-color: #DC3545 transparent #DC3545 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  