// resume style hear

.resume-section{
    .col-title{
        background: #191919;
        box-shadow: 0px 4px 33px #121212;
        padding: 20px 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
    }
}

.mb-50{
    margin-bottom: 50px;
}


.item-arrow.after-none{
    i{
        &::after{
            display: none;
        }
    }
}


.skills-wrapper-progres{
    padding: 60px;
    background: #191919;
    box-shadow: 0px 4px 33px #121212;
    @media screen and (max-width: 960px) {
        padding: 20px 5px;
    }
}

.eye-icon{
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: 5;
    transition: .3s;
}

.portfolio-wrapper{
    &:hover{
        .eye-icon{
            top: 40px;
            right: 40px;
        }
    }
}