// social area style hear

.social-banner-wrapper{
    display: flex;
    align-items: center;
    .text-area{
        margin-right: 20px;
        p{
            margin-bottom: 0;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .social{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            list-style: none;
            i{
                display: block;
                height: 45px;
                width: 45px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 15px;
                color: #fff;
                border: 1px solid #262626;
                transition: .3s;
            }
            &:hover{
                i{
                    background: #DC3545;
                    border: 1px solid #DC3545;
                }
            }
        }
    }
}



.contact-modal{
    input{
        background-color: #0f0f0f;
        height: 50px;     
        padding: 0 15px;
        color: #fff;
        &:focus{
            background-color: #0f0f0f;
            box-shadow: none;
            border-color:#dc3545;   
            color: #ffff;
        }
    }
    textarea{
        background-color:rgb(15, 15, 15) !important;
        background: rgb(15, 15, 15);
        height: 250px;
        padding: 15px;
        color: #ffff;
        &:focus{
            box-shadow: none;
            border-color: #dc3545;
            color: #fff;
        }
    }
}




